@{
    ViewData["Title"] = "Home Page";
}

@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="text-center">
    <h1 class="display-4">Benvenuto nella Pizzeria!</h1>
    <p>Per accedere al menù premi qui: <a class="nav-link text-dark fs-4 mx-2" asp-area="" asp-controller="Pizza" asp-action="Index"><u>Menù delle Pizze</u></a></p>
</div>